{% extends 'app/base.html' %}

{% load static thumbnail tipo_objeto %}

{% block main %}
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="font-alt">Buscador de ...</h4><br/>
                    <form role="form" method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="sr-only" for="libro">Nombre del libro</label>
                            {{ form.libro }}
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="nro_doc_socio">DNI </label>
                            {{ form.nro_doc_socio }}
                        </div>
                        <div class="text-center">
                            <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Buscar</button>
                        </div>
                    </form>
                    <div class="ajax-response font-alt" id="contactFormResponse"></div>
                </div>
                <div class="col-sm-9">
                    {% block prestamos %}
                    {{ objetos|mensaje_busqueda }}
                    <h4 class="font-alt">Resultado de búsqueda</h4>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-12">
                            {% if objetos.first|tipo_objeto == 'Libro' %}
                            {% include "app/result_srch_libro.html" %}
                            {% else %}
                            {% include "app/result_srch_prestamo.html" %}
                            {% endif %}
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}